#title,
#searchBar{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aquamarine
}

#title{
  font-weight: lighter;
}
header{
  background-color: #094E1D;
  border-radius: 100px;
}
#searchBar{
  border-radius: 10px;
  
}

.label{
  padding: .25em;
  font-weight: bold;
  color: aquamarine;
}